body{
    background-color: rgb(152, 244, 66);
    margin: 5% 10%;
}
img{
    border-radius: 50%;
  
    
}
header{
    text-align: center;
    background-color: white;
    
    font-family:"Verdana";
    color: rgb(173, 74, 201);
    padding: 5%;
    border-radius: 15px;
    margin-bottom: 3%;
}
main{
    background-color: white;
    text-align: center;
    font-family: arial;
    padding: 3%;
    border-radius: 15px;
    display: flex;
    font-size: 90%;
    flex-direction: column;
    justify-content: space-between;
}
.room{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
   
}
.final{
    display: flex;
    flex-direction: row;

    font-family: arial;

    
}
.num{
    color:  rgb(173, 74, 201);
    margin-left: 2%;
}
